.App {
  margin: auto;
}

body {
  background-color: rgb(15, 15, 15) !important;
}

.row {
  color: black;
  font-size: large;
  text-align: center;
  display: flex;
  justify-content: center;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.products {
  display: flex;
  justify-content: center;
}

h1 {
  padding: 50px;
  color: whitesmoke;
  text-align: center;
}

h2 {
  color: whitesmoke !important;
}
