.App {
  margin: auto;
}

body {
  background: linear-gradient(#616464, #1c1c2a);
  background-repeat: no-repeat;
  background-size: cover;
  height: 99vh;
}

h1 {
  padding: 50px;
  color: whitesmoke;
  text-align: center;
}

h2 {
  color: whitesmoke !important;
}

.post-form {
  color: aliceblue;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  flex-direction: row;
  padding: 10px;
}
