.App {
  margin: auto;
}

body {
  background-color: rgb(15, 15, 15) !important;
}

h1 {
  padding: 50px;
  color: whitesmoke;
  text-align: center;
}

h2 {
  color: whitesmoke !important;
}

.post-form {
  color: aliceblue;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  flex-direction: row;
  padding: 10px;
}
